<p id="notice"><%= notice %></p>

<p>
  <strong>Box:</strong>
  <%= @exemplar.box_id %>
</p>

<p>
  <strong>Cupboard:</strong>
  <%= @exemplar.cupboard_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @exemplar.location %>
</p>

<p>
  <strong>Habitat:</strong>
  <%= @exemplar.habitat %>
</p>

<p>
  <strong>Finded at:</strong>
  <%= @exemplar.finded_at %>
</p>

<p>
  <strong>Fund:</strong>
  <%= @exemplar.fund %>
</p>

<%= link_to 'Edit', edit_exemplar_path(@exemplar) %> |
<%= link_to 'Back', exemplars_path %>
