<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @botanist.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @botanist.last_name %>
</p>

<p>
  <strong>Patronymic:</strong>
  <%= @botanist.patronymic %>
</p>

<p>
  <strong>Position:</strong>
  <%= @botanist.position %>
</p>

<%= link_to 'Edit', edit_botanist_path(@botanist) %> |
<%= link_to 'Back', botanists_path %>
